Django>=5.2.6
djangorestframework
channels
daphne
channels_redis
psycopg2-binary
django-cors-headers
drf-spectacular
djangorestframework-simplejwt
gunicorn
uvicorn
Pillow
Django>=5.2.6
djangorestframework
channels
daphne
channels_redis
psycopg2-binary
django-cors-headers
drf-spectacular
djangorestframework-simplejwt
gunicorn
uvicorn
Pillow
python-dateutil==2.8.2
django-filter