@import 'variables';

:root {
    font-family: $font-family;
    line-height: 1.5;
    font-weight: 400;

    color: $text-color;
    background-color: $background-color;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

#root {
    width: 100%;
}