.documentsTab {
    .toolbar {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;
        flex-wrap: wrap;
        background: #fff;
        padding: 16px;
        border-radius: 8px;
    }
}